@media only screen and (min-width: 640px) and (max-width: 1400px) {
    html { background-color: #b7946a; height: 100%; width: 100%; margin: 0; }

    body { height: 100%; width: 100%; margin: 0; }

    .header-bar { background: #4e4d49; width: 100%; height: 22.5%; position: absolute; top: 0%; left: 0%; }

    .vocalizer {
        color: #ffffff;
        text-align: center;
        font-family: "Indie Flower";
        font-size: 74px !important;
        font-weight: 400;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 36%;
        margin-left: 2%;
        top: 21.5%;
      }

    .logout-button {
        background: #d5cfbf;
        border-radius: 100px;
        max-width: 240px;
        max-height: 66px;
        position: absolute;
        left: 2.3%;
        top: 32.5%;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.75);;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logout-button-text {
        color: #000000;
        text-align: left;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 24px !important;
        font-weight: 400;
        position: absolute;
        display: flex;
        align-items: center;
        -webkit-text-stroke: 1px #000000;
    }

    .feature-button {
        background: #D5CFBF;
        border-radius: 50px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 40%;
        height: 75%;
        position: absolute;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 1000; 
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-text-stroke-color: #000000;
        text-align: left;
        font-family: "Inter-Regular", sans-serif;
        font-size: 48px !important;
        font-weight: 400;
        -webkit-text-fill-color: #000000;
    }

    .feature-button:hover, .logout-button:hover {
        transition: 0.2s ease-in;
        background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    }

    .button-row-1 {
        width: 80vw;
        height: 20%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 28.8%;
        margin-left: -5.0%;
    }

    .button-row-2 {
        width: 80vw;
        height: 20%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 60%;
        margin-left: -5.0%;
    }
}