body {
    background-color: #B7946A;
}

.top-box {
    background: #4e4d49;
    width: 1429px;
    height: 100px;
    position: absolute;
    inset: 0;
}

#title {
    color: #ffffff;
    font-family: "Indie Flower";
    font-size: 50px;
    font-weight: 400;
    position: absolute;
    left: 425px;
    width: 592px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Phrases {
    position: relative;
    left: 50px;
}

#PhraseTitle {
    position: relative;
    top: 70px;
    left: 50px;
}

.Phrase-list {
    width: 200px;
    height: 500px;
    /*overflow-y: auto;*/
    position: relative;
    top: 50px;
}

#list {
    background-color:#FFFFFF;
    width: 200px;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#list:hover {
    background-color: #6b6a6a4f;
}

#back-button {
    background: #d5cfbf;
    border-radius: 100px;
    height: 66px;
    width: 240px;
    position: relative;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
}

#back-button:hover {
    background: #d5cfbf88;
}

#text-box {
    position: relative;
    background: #FFFFFF;
    bottom: 450px;
    left: 300px;
    height: 100px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
}

#video-box {
    position: relative;
    bottom: 445px;
    left: 300px;
}