html { background-color: #b7946a; height: 100%; width: 100%; margin: 0; }

body { height: 100%; width: 100%; margin: 0; }

.header-bar { background: #4e4d49; width: 100%; height: 22.5%; position: absolute; top: 0%; left: 0%; }

.home-button {
  background: #d5cfbf;
  border-radius: 100px;
  width: 14.2%;
  height: 31.5%;
  position: absolute;
  left: 2.3%;
  top: 32.5%;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.75);;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-button-text {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 250%; /*40px*/
  font-weight: 400;
  left: 45%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-text-stroke: 1px #000000;
}

.home-icon-1 { width: 24%; height: 81%; left: 10%; position: absolute; object-fit: cover; }

.vocalizer {
  color: #ffffff;
  text-align: center;
  font-family: "Indie Flower";
  font-size: 600%; /*96px*/
  font-weight: 400;
  position: absolute;
  width: 20%;
  height: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 21.5%;
}

.select-image {
  background: #725e45;
  border-radius: 50px;
  width: 32%;
  height: 12.2%;
  position: absolute;
  left: 0;
  right: 0;
  top: 28.8%;
  margin: 0 auto;
  -webkit-text-fill-color: #ffffff;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 64px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-button:hover, 
.selected-category-button:hover, 
.image-button:hover,  
.home-button:hover {
    transition: 0.2s ease-in;
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.category-button-row {
  width: 80vw;
  height: 5%;
  margin-left: 4.0%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#c-row-1 { top: 47%; }

#c-row-2 { top: 57%; }

.selected-category-button {
  background: #725e45;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 13%;
  height: 115%;
  position: absolute;
  -webkit-text-fill-color: #ffffff;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 250%; /*40px*/
  font-weight: 400;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-button {
  background: #d5cfbf;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 13%;
  height: 115%;
  position: absolute;
  -webkit-text-fill-color: #000000;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 250%; /*40px*/
  font-weight: 400;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* CSS regarding the image button text and their position within the button. */
 .image-button-text-box {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  -webkit-text-fill-color: #000000;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 250%; /*40px*/
  font-weight: 400;
  width: 100%;
  height: 28.4%;
  left: 0%;
  top: 71.6%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center
 }

 /* CSS regarding the actual images and their position within the button. */
.picture-rectangle {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 54%;
  height: 54%;
  top: 17.6%;
  left: 23%;
  position: absolute;
  object-fit: cover;
}

 /* CSS regarding the tan image buttons and their positions. 
 There can be a lot of rows, but always 4 columns. */
.image-button {
  background: #d5cfbf;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 14.8%;
  height: 26.3%;
  position: absolute;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-column-1 { left: 15.15%; }

.button-column-2 { left: 33.15%; }

.button-column-3 { left: 51.23%; }

.button-column-4 { left: 69.25%; }

/* To calculate the top position value for 
row x, in terms of pixels, use the equation: y = 326x + 278 
In terms of %, use: y = 34.3x + 39.3*/
.button-row-1 { top: 73.6%; }
.button-row-2 { top: 107.9%; }
.button-row-3 { top: 142.2%; }
.button-row-4 { top: 176.5%; }
.button-row-5 { top: 210.8%; }
.button-row-6 { top: 245.1%; }
.button-row-7 { top: 279.4%; }
.button-row-8 { top: 313.7%; }
.button-row-9 { top: 348%; }
.button-row-10 { top: 382.3%; }
.button-row-11 { top: 416.6%; }
.button-row-12 { top: 450.9%; }
.button-row-13 { top: 485.2%; }
.button-row-14 { top: 519.5%; }
.button-row-15 { top: 553.8%; }
.button-row-16 { top: 588.1%; }
.button-row-17 { top: 622.4%; }
.button-row-18 { top: 656.7%; }
.button-row-19 { top: 691%; }
.button-row-20 { top: 725.3%; }
.button-row-21 { top: 759.6%; }
.button-row-22 { top: 793.9%; }
.button-row-23 { top: 828.2%; }
.button-row-24 { top: 862.5%; }
.button-row-25 { top: 896.8%; }
.button-row-26 { top: 931.1%; }
.button-row-27 { top: 965.4%; }
.button-row-28 { top: 999.7%; }
.button-row-29 { top: 1034%; }
.button-row-30 { top: 1068.3%; }
.button-row-31 { top: 1102.6%; }
.button-row-32 { top: 1136.9; }
.button-row-33 { top: 1171.2; }
.button-row-34 { top: 1205.5%; }
.button-row-35 { top: 1239.8%; }
.button-row-36 { top: 1274.1%; }
.button-row-37 { top: 1308.4%; }
.button-row-38 { top: 1342.7%; }
.button-row-39 { top: 1377%; }
.button-row-40 { top: 1411.3%; }
.button-row-41 { top: 1445.6%; }
.button-row-42 { top: 1479.9%; }
.button-row-43 { top: 1514.3%; }
.button-row-44 { top: 1548.5%; }
.button-row-45 { top: 1582.8%; }
.button-row-46 { top: 1617.1%; }
.button-row-47 { top: 1651.4%; }
.button-row-48 { top: 1685.7%; }
.button-row-49 { top: 1720%; }
.button-row-50 { top: 1754.3%; }