@media only screen and (min-width: 640px) and (max-width: 1400px) {
    .select-image {
      background: #725e45;
      border-radius: 50px;
      max-width: 536px;
      max-height: 116px;
      position: absolute;
      left: 0;
      right: 0;
      top: 28.8%;
      margin: 0 auto;
      -webkit-text-fill-color: #ffffff;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 40px !important; /*64px*/
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .header-bar { background: #4e4d49; width: 100%; height: 22.5%; position: absolute; top: 0%; left: 0%; }
  
    .home-button {
      background: #d5cfbf;
      border-radius: 100px;
      max-width: 240px;
      max-height: 66px;
      position: absolute;
      left: 2.3%;
      top: 32.5%;
      box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.75);;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  
    .home-button-text {
      color: #000000;
      text-align: left;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 24px !important; /*40px*/
      font-weight: 400;
      position: absolute;
      display: flex;
      align-items: center;
      -webkit-text-stroke: 1px #000000;
    }
  
    .home-icon-1 { height: 30px !important; width: 30px !important; object-fit: cover; }
  
    .vocalizer {
      color: #ffffff;
      text-align: center;
      font-family: "Indie Flower";
      font-size: 74px !important; /*96px*/
      font-weight: 400;
      position: absolute;
      width: 20%;
      height: 20%;
      left: 36%;
      margin-left: 2%;
      top: 21.5%;
    }

    #c-row-1 { top: 47%; }

    #c-row-2 { top: 57%; }
  
    .selected-category-button {
      background: #725e45;
      border-radius: 20px;
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      width: 13%;
      height: 115%;
      position: absolute;
      -webkit-text-fill-color: #ffffff;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 20px !important; /*40px*/
      font-weight: 400;
      box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .category-button {
      background: #d5cfbf;
      border-radius: 20px;
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      width: 13%;
      height: 115%;
      position: absolute;
      -webkit-text-fill-color: #000000;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 20px !important; /*40px*/
      font-weight: 400;
      box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .image-button-text-box {
      background: rgba(0, 0, 0, 0);
      text-align: center;
      -webkit-text-fill-color: #000000;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 18px !important; /*40px*/
      font-weight: 400;
      width: 100%;
      height: 28.4%;
      left: 0%;
      top: 71.6%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center
     }
  
     .picture-rectangle {
      border-style: solid;
      border-color: #000000;
      border-width: 1px;
      width: 54%;
      height: 54%;
      top: 17.6%;
      left: 23%;
      position: absolute;
      object-fit: cover;
    }
  
    .image-button {
      background: #d5cfbf;
      border-radius: 20px;
      border-style: solid;
      border-color: #000000;
      border-width: 2px;
      width: 150px !important;
      height: 150px !important;
      position: absolute;
      box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    }

    /*New math formula: y = 19.3x + 54.3*/
    .button-row-1 { top: 73.6%; }
    .button-row-2 { top: 92.9%; }
    .button-row-3 { top: 112.2%; }
    .button-row-4 { top: 131.5%; }
    .button-row-5 { top: 150.8%; }
    .button-row-6 { top: 170.1%; }
    .button-row-7 { top: 189.4%; }
    .button-row-8 { top: 208.7%; }
    .button-row-9 { top: 228%; }
    .button-row-10 { top: 247.3%; }
    .button-row-11 { top: 266.6%; }
    .button-row-12 { top: 285.9%; }
    .button-row-13 { top: 305.2%; }
    .button-row-14 { top: 324.5%; }
    .button-row-15 { top: 343.8%; }
    .button-row-16 { top: 363.1%; }
    .button-row-17 { top: 382.4%; }
    .button-row-18 { top: 401.7%; }
    .button-row-19 { top: 421%; }
    .button-row-20 { top: 440.3%; }
    .button-row-21 { top: 459.6%; }
    .button-row-22 { top: 478.9%; }
    .button-row-23 { top: 498.2%; }
    .button-row-24 { top: 517.5%; }
    .button-row-25 { top: 536.8%; }
    .button-row-26 { top: 556.1%; }
    .button-row-27 { top: 575.4%; }
    .button-row-28 { top: 594.7%; }
    .button-row-29 { top: 614%; }
    .button-row-30 { top: 633.3%; }
    .button-row-31 { top: 652.6%; }
    .button-row-32 { top: 671.9; }
    .button-row-33 { top: 691.2; }
    .button-row-34 { top: 710.5%; }
    .button-row-35 { top: 729.8%; }
    .button-row-36 { top: 749.1%; }
    .button-row-37 { top: 768.4%; }
    .button-row-38 { top: 787.7%; }
    .button-row-39 { top: 807%; }
    .button-row-40 { top: 826.3%; }
    .button-row-41 { top: 845.6%; }
    .button-row-42 { top: 864.9%; }
    .button-row-43 { top: 884.3%; }
    .button-row-44 { top: 903.5%; }
    .button-row-45 { top: 922.8%; }
    .button-row-46 { top: 942.1%; }
    .button-row-47 { top: 961.4%; }
    .button-row-48 { top: 980.7%; }
    .button-row-49 { top: 1000%; }
    .button-row-50 { top: 1019.3%; }

    .nature-invisible-box { display: none; }
    
    .food-invisible-box { display: none; }
    
    .object-invisible-box { display: none; }
    
    .places-invisible-box { display: none; }
    
    .transportation-invisible-box { display: none; }

    .people-invisible-box { display: none; }

    .activity-invisible-box { display: none; }
}

/* @media only screen and (max-width: 639px) {
    .button-row-1 { top: 63.6%; }
    .button-row-2 { top: 97.9%; }
    .button-row-3 { top: 132.2%; }
    .button-row-4 { top: 166.5%; }
    .button-row-5 { top: 200.8%; }
    .button-row-6 { top: 235.1%; }
    .button-row-7 { top: 269.4%; }
    .button-row-8 { top: 303.7%; }
    .button-row-9 { top: 338%; }
    .button-row-10 { top: 372.3%; }
    .button-row-11 { top: 406.6%; }
    .button-row-12 { top: 440.9%; }
    .button-row-13 { top: 475.2%; }
    .button-row-14 { top: 509.5%; }
    .button-row-15 { top: 543.8%; }
    .button-row-16 { top: 578.1%; }
    .button-row-17 { top: 612.4%; }
    .button-row-18 { top: 646.7%; }
    .button-row-19 { top: 681%; }
    .button-row-20 { top: 715.3%; }
    .button-row-21 { top: 749.6%; }
    .button-row-22 { top: 783.9%; }
    .button-row-23 { top: 818.2%; }
    .button-row-24 { top: 852.5%; }
    .button-row-25 { top: 886.8%; }
    .button-row-26 { top: 921.1%; }
    .button-row-27 { top: 955.4%; }
    .button-row-28 { top: 989.7%; }
    .button-row-29 { top: 1024%; }
    .button-row-30 { top: 1058.3%; }
    .button-row-31 { top: 1092.6%; }
    .button-row-32 { top: 1126.9; }
    .button-row-33 { top: 1161.2; }
    .button-row-34 { top: 1195.5%; }
    .button-row-35 { top: 1229.8%; }
    .button-row-36 { top: 1264.1%; }
    .button-row-37 { top: 1298.4%; }
    .button-row-38 { top: 1332.7%; }
    .button-row-39 { top: 1367%; }
    .button-row-40 { top: 1401.3%; }
    .button-row-41 { top: 1435.6%; }
    .button-row-42 { top: 1469.9%; }
    .button-row-43 { top: 1504.3%; }
    .button-row-44 { top: 1538.5%; }
    .button-row-45 { top: 1572.8%; }
    .button-row-46 { top: 1607.1%; }
    .button-row-47 { top: 1641.4%; }
    .button-row-48 { top: 1675.7%; }
    .button-row-49 { top: 1710%; }
    
    .select-image {
        background: #725e45;
        border-radius: 50px;
        max-width: 536px;
        max-height: 116px;
        position: absolute;
        left: 0;
        right: 0;
        top: 28.8%;
        margin: 0 auto;
        -webkit-text-fill-color: #ffffff;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 40px !important;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .header-bar { background: #4e4d49; width: 100%; height: 22.5%; position: absolute; top: 0%; left: 0%; }
    
      .home-button {
        background: #d5cfbf;
        border-radius: 100px;
        max-width: 240px;
        max-height: 66px;
        position: absolute;
        left: 2.3%;
        top: 32.5%;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.75);;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    
      .home-button-text {
        color: #000000;
        text-align: left;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 24px !important;
        font-weight: 400;
        position: absolute;
        display: flex;
        align-items: center;
        -webkit-text-stroke: 1px #000000;
      }
    
      .home-icon-1 { height: 30px !important; width: 30px !important; object-fit: cover; }
    
      .vocalizer {
        color: #ffffff;
        text-align: center;
        font-family: "Indie Flower";
        font-size: 74px !important;
        font-weight: 400;
        position: absolute;
        width: 20%;
        height: 20%;
        left: 36%;
        margin-left: 2%;
        top: 21.5%;
      }
    
      .selected-category-button {
        background: #725e45;
        border-radius: 20px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 13%;
        height: 115%;
        position: absolute;
        -webkit-text-fill-color: #ffffff;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 20px !important;
        font-weight: 400;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .category-button {
        background: #d5cfbf;
        border-radius: 20px;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 13%;
        height: 115%;
        position: absolute;
        -webkit-text-fill-color: #000000;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 20px !important;
        font-weight: 400;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .image-button-text-box {
        background: rgba(0, 0, 0, 0);
        text-align: center;
        -webkit-text-fill-color: #000000;
        font-family: 'Inter-Regular', sans-serif;
        font-size: 20px !important;
        font-weight: 400;
        width: 100%;
        height: 28.4%;
        left: 0%;
        top: 71.6%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center
       }
    
       .picture-rectangle {
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        width: 54%;
        height: 54%;
        top: 17.6%;
        left: 23%;
        position: absolute;
        object-fit: cover;
      }
    
      .image-button {
        background: #d5cfbf;
        border-radius: 20px;
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
        width: 150px !important;
        height: 150px !important;
        position: absolute;
        box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
      }

      .nature-invisible-box { display: none; }
    
      .food-invisible-box { display: none; }
      
      .object-invisible-box { display: none; }
      
      .places-invisible-box { display: none; }
      
      .transportation-invisible-box { display: none; }
  } */