body {
    background-color: #B7946A;
}
/*
.top-box {
    background: #4e4d49;
    width: 100%;
    height: 100px;
    position: absolute;
    inset: 0;
}

#title {
    color: #ffffff;
    font-family: "Indie Flower";
    font-size: 50px;
    font-weight: 400;
    position: relative;
    left: 425px;
    width: 592px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#home-button {
    background: #d5cfbf;
    border-radius: 100px;
    height: 66px;
    width: 240px;
    position: relative;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
}

#home-button:hover {
    background: #d5cfbf88;
}
*/
.header-bar {    /*css for the home bar at the top of the page */
    background: #4e4d49;
    width: 100%;
    height: 22.5%;
    position: absolute;
    top: 0%;
    left: 0%;
}
  
.home-button {  /*css for the home button */
    background: #d5cfbf;
    border-radius: 100px;
    width: 14.2%;
    height: 31.5%;
    position: absolute;
    left: 2.3%;
    top: 32.5%;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.75);;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.home-button-text { /*css for the home button text*/
    color: #000000;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 40px;
    font-weight: 400;
    left: 45%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-text-stroke: 1px #000000;
}
  
.home-icon-1 { /*css for the home button Icon*/
    width: 24%;
    height: 81%;
    left: 10%;
    position: absolute;
    object-fit: contain;
}

.vocalizer {
    color: #ffffff;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 400%; /*96px*/
    font-weight: 400;
    position: absolute;
    width: 20%;
    height: 20%;
    right: 2.5%;
    top: 32.5%;
  }
  
.page-title {
    color: #ffffff;
    text-align: center;
    font-family: "Indie Flower";
    font-size: 550%; /*96px*/
    font-weight: 400;
    position: absolute;
    width: 40%;
    height: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 21.5%; 
}

.flex-box {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#phrases-button {
    background: #d5cfbf;
    /*position: relative;
    left: 250px;
    top: 175px;
    position: absolute;
    top: 50%;
    left: 10%;*/
    width: 225px;
    height: 175px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-family: "IndieFlower-Regular", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

#phrases-button:hover {
    background:#d5cfbf88;
}

#words-button {
    background: #d5cfbf;
    /*position: relative;
    left: 250px;
    top: 175px;*/
    /*position: absolute;
    top: 50%;
    left: 35%;*/
    width: 225px;
    height: 175px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-family: "IndieFlower-Regular", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

#words-button:hover {
    background:#d5cfbf88;
}

#finger-spelling-button {
    background: #d5cfbf;
    /*position: relative;
    top: 0px;
    left: 675px;
    position: absolute;
    top: 50%;
    left: 60%;*/
    width: 225px;
    height: 175px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-family: "IndieFlower-Regular", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

#finger-spelling-button:hover {
    background: #d5cfbf88;
}

@media (max-width: 600px) {  /*css for phone's, specifically in vertical mode. Landscape is at the end */
    .home-button-text{
      font-size: 0pt;
    }
    .home-icon-1{
      
        left: 25%;
        object-fit:contain;
        width: 50%;
        height: 70%;
    }

    .home-button{
      width: 8%;
      height: 31%;
    }
    
    .page-title{
      font-size: 3.0em;
     /* left:1%; */
     left: -42%;
     top: 32.5% !important;
    }
    
    .vocalizer{
      font-size: 0pt;
    }
  
    .header-bar{
        width: 200%;
        overflow-x: auto;
    }
  }
  
@media (min-width: 601px) and (max-width: 1024px) {  /*css for screens in between mobile and laptop */
    .home-button-text{
      font-size: 0pt;
    }
    .home-icon-1{
     left:25%;
      width: 50%;
      height: 70%;
      object-fit:contain;
  
    }
}  
  
@media (min-width: 1025px) { /*css for laptop/computer screens*/
    .home-button-text {
      color: #000000;
      text-align: left;
      font-family: 'Inter-Regular', sans-serif;
      font-size: 40px;
      font-weight: 400;
      left: 45%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      -webkit-text-stroke: 1px #000000;
      transform: translate(-10%, 0%);
    }
    
    .home-icon-1 {
      width: 24%;
      height: 81%;
      left: 10%;
      position: absolute;
      object-fit:contain;
      
    }
} 
  
body {
    margin: 0;
    padding: 0;
   
    overflow-x: hidden;
}
  
@media (max-width: 1000px) and (orientation: landscape) {  /*css for mobile devices in landscape mode */   
    .page-title{
        font-size: 3.0em;
        left:-45%;
        top: 15% !important;
    }
    .vocalizer{
        font-size: 0pt;
    }
    .header-bar{
        width: 200%;
        overflow-x: auto;
    }
    .home-button{
        width:5%;
    }
}